.body {
  margin: 0;
  padding: 30px;

  flex: 0.8;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  color: white;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 80px;
}

.body::-webkit-scrollbar {
  display: none;
}

.body_text {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
}

.body_text > img {
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  max-height: 35vh;
}

.body_text_info {
  margin-left: 20px;
}

.body_text_info > h4 {
  font-size: 68px;
  margin-bottom: 10px;
}

.body_text_info > p {
  font-size: 14px;
}

.player_body_icons {
  display: flex;
  align-items: center;
}

.player_body_icons > .MuiSvgIcon-root {
  margin: 30px 10px;
  font-size: 50px;
}

.player_body_icons > .MuiSvgIcon-root:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in;
}
