.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  background-color: #282828;
  padding: 20px;
  width: 97%;
}

.footer__left {
  display: flex;
  flex: 0.3;
}

.footer__right {
  flex: 0.3;
  color: white;

  display: flex;
  align-items: center;
}

.footer__center {
  flex: 0.4;
  color: white;
  display: flex;
  align-items: center;
  max-width: 300px;
  justify-content: space-between;
}
