.SidebarOption {
  display: flex;
  height: 40px;
  align-items: center;
  transition: all 200ms ease-in;
  color: gray;
  cursor: pointer;
}

.SidebarOption:hover {
    color: white;
}

.heading_icon {
  padding-left: 10px;
  padding-right: 10px;
}

.SidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}